* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe4e1;
  padding: 0px 1rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
}

ul {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

li {
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
  /* border: 1px solid black; */
}

img {
  display: block;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

p {
  text-align: center;
}

ol li {
  /* border: 1px solid black; */
}

.list-container {
  /* border: 2px solid black; */
  margin-top: 1rem;

  display: flex;
  justify-content: center;
}

.link-list {
  list-style-type: none;
}

.numbered-container {
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
}
.home {
  text-align: center;
}
